h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
     margin-top: 100px;
     border-bottom: 2px solid rgb(187, 176, 176);
    padding-bottom: px;
}


body {
    background-color: #ff5100;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    position: relative;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}



.buttons {
    display: flex;
    gap: 1.5rem;
    margin-top: 100px;
}

.btn {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.4rem 1.2rem;
    border: 1.5px solid white;
    border-radius: 3px;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.5;
}

footer {
    color: #fffbfb;
    text-align: center;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.box
{
margin-top: 100px;
}


.B1, .B2, .B3, .B4, .B5 {
  height: 30px;
  background: rgb(255, 255, 255);
  margin-top: 2px;
  animation: beweging 1.2s infinite ease;
}

.B1 { width: 200px; animation-delay: 0.4s; }
.B2 { width: 170px; animation-delay: 0.3s; }
.B3 { width: 140px; animation-delay: 0.2s; }
.B4 { width: 80px; animation-delay: 0.1s; }
.B5 { width: 40px; animation-delay: 0s; }

@keyframes beweging {
  0% { transform: translateX(0px); }      
  25% { transform: translateX(100px); }   
  50% { transform: translateX(0px); }     
  75% { transform: translateX(100px); }   
  100% { transform: translateX(0px); }    
}